@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
html,body {
    margin:0;
    padding:0;
	font-family:Questrial;
}
#logo-text{
	display:block;
	width:210px;
	position:fixed;
	top:10px;
	left:5px;
}
#side-text{
	font-size:20px;
	position:absolute;
	right: 0;
	padding-bottom:24px;
	top:12px;
	margin-right:20px;
	border-bottom: solid black 5px;
}
#logo{
	width: 100%;
	height:80px;
	position:fixed;
	text-align:center;
	background:white;
	z-index:2;
}


.slider {
	margin: 0 auto;
	position:relative;
	opacity: 1;	
	top: 81px;
}

.slider-wrapper {
	width: 100%;
	height: 320px;
	position: relative;
}
.slider-wrapper img{
	object-fit: cover;
}
.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#contact{
	width:100%;
	text-align:center;
	position:relative;
	top:150px;
}
#contact h3{
	font-size:20px;
}
#contact h2{
	font-size:30px;
	color:black;
	border-bottom:solid black 4px;
	width:85%;
	padding-bottom:15px;
	margin:0 auto;
}
img{
	width:200px;
}
h5{
	font-size:30px;
}
#contact h4{
	font-size:15px;
}
#footer2{
	width:100%;
	text-align:center;	
	padding-bottom:50px;
	position:relative;
	top:310px;
}
#footer2 img{
	width:200px;
	margin-bottom:-10px;
}
#footer2 h3{
	font-weight:400;
	font-size:13px;	
}
@media screen and (max-width: 800px) {
	.slider-wrapper {
		width: 100%;
		height: 330px;
		position: relative;
	}
	#logo-text{
		width:180px;
		top:15px;
		left:2px;
	}
	img{
		width:150px;
	}
	#side-text{
		font-size:18px;
		right: -5px;
		margin-top:18px;
		border-bottom: solid black 4px;
	}
	#contact h3{
		font-size:17px;
	}
	#contact h2{
		font-size:25px;
	}
	#contact h5{
		font-size:25px;
	}
	#contact h4{
		font-size:12px;
	}
	#footer2 h3{
		position:relative;
		top:-8px;
	}
	#footer2{
		top:240px;
		padding-bottom:25px;
	}
}
@media screen and (max-width: 520px) {
		#logo{
		height:60px;
	}
		#logo-text{
		width:150px;
		top:10px;
	}
	#side-text{
		font-size:15px;
		right: -5px;
		margin-top:8px;
		padding-bottom:16px;
	}
	img{
		width:100px;
	}
	.slider-wrapper{
		height: 260;
		top:-20.7px;
	}
	#contact h3{
		font-size:13px;
	}
	#contact h2{
		font-size:17px;
	}
	#contact h5{
		font-size:17px;
	}
	#contact h4{
		font-size:10px;
	}
	#footer2 img{
	width:180px;
	}
}