@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
html,body {
    margin:0;
    padding:0;
	font-family:Questrial;
}
#logo-text{
	display:block;
	width:210px;
	position:fixed;
	top:10px;
	left:5px;
}
#side-text{
	font-size:20px;
	position:absolute;
	right: 0;
	padding-bottom:24px;
	top:20px;
	margin-right:20px;
	border-bottom: solid black 5px;
}
#logo{
	width: 100%;
	height:80px;
	position:fixed;
	text-align:center;
	background:white;
	z-index:1;
}

.slider {
	margin: 0 auto;
	position:relative;
	opacity: 1;	
	top: 81px;
}

.slider-wrapper {
	width: 100%;
	height: 300px;
	position: relative;
}
.slider-wrapper img{
	object-fit: cover;
}
.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#two-boxes{
	text-align:center;
	margin-top: 145px;
}
#two-boxes li{
	height: 280px;
	width:280px;
	display:inline-block;
	position:relative;
	top:-20px;
	right:18px;
}
#two-boxes li:hover{
	cursor:pointer;
}
#two-boxes li h1{
	position:relative;
	top:295px;
	font-size:25px;
}
#two-boxes li h2{
	position:relative;
	top:285px;
	font-size:20px;
	color:rgba(85,85,85,1);
}
span{
	position:relative;
	z-index:99;
	padding:5px;
	padding-left:11px;
	padding-right:5px;
	background:rgba(0,0,0,0.5);
	font-weight:800;
	font-size:30px;
	color:white;
	border-radius:3px;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	margin: 0px -85px;
}
#box1:hover span,#box2:hover span,#box3:hover span,#box4:hover span{
	opacity:1;
}
#box1{
	background: url(images/m1.jpeg) no-repeat;
	background-size:cover;
}
#box2{
	background: url(images/m2.jpeg) no-repeat;
	background-size:cover;
}
#box3{
	background: url(images/m3.jpeg) no-repeat;
	background-size:cover;
}
#box4{
	background: url(images/m4.jpeg) no-repeat;
	background-size:cover;
}
footer{
	position: absolute;
	top: 980px;
	width: 100%;
	height: 130px;
	text-align:center;
	background-color:rgba(0,0,0,0.04);
	left:0;
}
footer ol{
	padding:0;
}
footer li{
	color:black;
	text-align:block;
	position:relative;
	top:24px;
	text-decoration: none;
}
footer li:hover{
	text-decoration:underline;
}
.underline a{
	margin-bottom:10px;
	display:block;
	font-family:raleway;
	font-weight:700;
	text-decoration:none;
	color: rgba(0,0,0,0.9);
	font-size:20px;
	position:relative;
	top:13px;
}
#copyright{
	display:none;	
}
footer li:not(.underline){
	display:none;
}
#footer2{
	width:100%;
	text-align:center;	
	padding-bottom:50px;
	position:relative;
	top:400px;
}
#footer2 img{
	width:200px;
	margin-bottom:-10px;
}
#footer2 h3{
	font-weight:400;
	font-size:13px;	
}

@media screen and (max-width: 1250px) {
	#logo-text{
		width:180px;
		top:15px;
		left:2px;
	}
	#side-text{
		font-size:18px;
		right: -5px;
		margin-top:14px;
		border-bottom: solid black 4px;
	}
	.slider-wrapper{
		height: 250px;
		top:-3px;
	}
	#two-boxes li{
		height: 310px;
		width:310px;
		display:inline-block;
		top:-20px;
		right:18px;
		margin: 0 4%;
		margin-bottom:120px;
	}
	#two-boxes li h1{
		font-size:20px;
		top:300px;
	}
	#two-boxes li h2{
		font-size:17px;
		top:290px;
	}
	span{
		position:relative;
		top:300px;
		z-index:1;
		display:inline;
		padding:7px;
		color:rgba(189,175,108,1);
		background:black;
		font-size:20px;
		opacity: 1;
	}
	#box1 span:hover,#box2 span:hover,#box3 span:hover,#box4 span:hover{
		color:rgba(189,175,108,0.8);
	}
	footer{
		top:1330px;
		height: 100px;
	}
	.underline a{
		font-size:17px;
		top:-2px;
	}
	#footer2 h3{
		position:relative;
		top:-8px;
	}
	#footer2{
		top:190px;
		padding-bottom:25px;
	}
}
@media screen and (max-width: 785px) {
#two-boxes li{
		height:250px;
		width:250px;
		margin-bottom:180px;
	}
#two-boxes li h1{
		font-size:17px;
		top:255px;
	}
	#two-boxes li h2{
		font-size:15px;
		top:245px;
	}
	span{
		font-size:15px;
	}
		footer{
		top:1328px;
	}
	span{
		position:relative;
		top:250px;
	}
}
@media screen and (max-width: 645px) {
	#logo{
		height:60px;
	}
		#logo-text{
		width:150px;
		top:10px;
	}
	#side-text{
		font-size:15px;
		right: -5px;
		margin-top:5px;
		padding-bottom:16px;
	}
	.slider-wrapper{
		height: 260;
		top:-20.7px;
	}
	footer{
		top:2185px;
	}
		#footer2 img{
	width:180px;
}
}
