@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Questrial:100,200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,600,700,900');
html,body {
    margin:0;
    padding:0;
	font-family:Questrial;
}
#logo-text{
	display:block;
	width:210px;
	position:fixed;
	top:10px;
	left:5px;
}
#side-text{
	font-size:20px;
	position:absolute;
	right: 0;
	padding-bottom:24px;
	top:12px;
	margin-right:20px;
	border-bottom: solid black 5px;
}
#logo{
	width: 100%;
	height:80px;
	position:fixed;
	text-align:center;
	background:white;
	z-index:2;
}
.mySlides {
	display:none;
}
#first{
	display:block;	
}
img {
	vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  width:400px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 0 0 0;
  background-color: rgba(0,0,0,0.8);
}
/* Position the "next button" to the right */
.next {
  right: 0;
	z-index:1;
  border-radius: 0 0 0 0;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color:rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#picture{
	position:relative;
	left:-200px;
	top:155px;	
}
#side{
	font-size:15px;
	position:relative;
	left:230px;	
	width:260px;
	margin:0 auto;
	top: -340px;
}
#side h1, #side h3{
	text-align:right;
}
#side div{
	width:100%;
	text-align:center;
}
#price{
	color:rgba(153,0,0,1);
}
#side h3{
	position:relative;
	top:-20px;	
}
#picture{
	top:120px;
}
#detail h4{
	font-size:23px;
	text-align:left;
	margin-bottom:20px;
}
dl{
	display:inline-block;
	width:122px;
}
dt { 
	display:block; 
	width:160px; 
	text-align: right; 
	font-weight:bold;
}
dd { 
	text-align:left;
	display:block; 
	width:70px;
}
dd,dt{
	font-size:18px;
	margin-bottom:10px;
}
footer #log{
	width:200px;
	position:relative;
	top:90px;
	left:-18px;
	margin-top:15px;
}
footer h3 a{
	color:black;
	text-decoration: none;
	position:relative;
	top:30px;
}
footer h3 a:hover{
	text-decoration: underline;
}
footer{
	position: absolute;
	top: 920px;
	width: 100%;
	height: 130px;
	text-align:center;
	background: rgba(0,0,0,0.04);
	left:0;
	width:100%;	
	padding:0;
	margin:0;
}
#copyright{
	position:relative;
	top: 80px;
	font-weight:400;
	font-size:13px;	
	padding-bottom:60px;
}
@media screen and (max-width: 830px) {
	#logo{
		top:0px;
	}
	#logo-text{
		width:180px;
		top:15px;
		left:2px;
	}
	#side-text{
		font-size:18px;
		right: -5px;
		margin-top:10px;
		border-bottom: solid black 4px;
	}
	.slideshow-container {
		width:350px;
	}
	#picture{
		left:20px;
		float:left;	
		top:80px;
	}
	#side{
		font-size:13px;
		position:relative;
		top:80px;
		left:-30px;
		float:right;
	}
	#detail h4{
		font-size:22px;
	}
	footer{
		height:100px;
	}
	#copyright{
		padding-bottom:54px;
	}
	footer #log{
		width:200px;
		position:relative;
		top:99px;
		left:-18px;
		margin-top:-30px;
	}
	footer h3 a{
		position:relative;
		top:20px;
		font-size:17px;
	}
}
@media screen and (max-width: 700px) {
	#picture{
		left:0px;
		float:none;	
		top:82px;
	}
	#side{
		font-size:11px;
		position:relative;
		top:100px;
		float:none;
		width:330px;
	}
	#side h1, #side h3{
		text-align:left;
		position:relative;
		left:20px;
	}
	#detail{
		position:relative;
		left:30px;
	}
	#detail h4{
		font-size:19px;
	}
	footer{
		position:relative;
		top:200px;
	}
	footer #log{
		margin-top:-10px;
		width:180px;
	}
	footer h3 a{
		position:relative;
		top:36px;
		font-size:17px;
	}
}
@media only screen and (max-width: 300px) {
	.prev, .next,.text {
		font-size: 11px
	}
}

